<footer>
    <div>
        <li>
            <a href="/contact" >

                Contactez-nous
            </a>
        </li>
        <li>
            <a href= >
                Politique de confidentialité
            </a>
        </li>
        <li>
            <a href= >
                Faqs
            </a>
        </li>
    </div>
    <div>
        <p>
            © 2025 Campus Booking
        </p>

    </div>
</footer>