<header class="header">
  <div class="header-left">
    <button class="btn-entete">Contactez-nous !</button>
  </div>
  <span class="app-title">CampusBooking</span>
  <div class="header-actions">
    <a href="/logout" class="btn-deconnexion">Déconnexion</a>
  </div>
</header>
