<header>
  <div class="header-left">
    <a href="/" class="logo">CampusBooking</a>
  </div>
  <div class="nav-wrapper">
    <nav class="header-nav">
      <a href="/user/register">Inscription</a>
      <a href="/user/login">Connexion</a>
      <a href="/contact" class="btn-entete">Contactez-nous !</a>
    </nav>
  </div>
  <div class="header-right"></div>
</header>
