<header>
  <div class="header-left">
    <a href="/" class="logo">CampusBooking</a>
  </div>
  <div class="nav-wrapper">
    <nav class="header-nav">
      {{#if user}}
        <!-- Si connecté (user ou admin) -->
        <a href="/deconnexion">Déconnexion</a>
      {{else}}
        <!-- Sinon -->
        <a href="/user/register">Inscription</a>
        <a href="/user/login">Connexion</a>
      {{/if}}
      <a href="/contact" class="btn-entete">Contactez-nous&nbsp;!</a>
    </nav>
  </div>
  <div class="header-right"></div>
</header>
