<header>
  <p class="logo">CampusBooking</p>
  <nav class="header-nav">
    <a href="/user/register">Inscription</a>
    <a href="/user/login">Connexion</a>
    <a href="/contact" class="btn-entete">Contactez-nous !</button>
  </nav>
</header>