<section id="admin-login-section" class="container form-section">
  <h2>Connexion Administrateur</h2>
  <form class="form needs-validation admin-login-form">
    <div class="form-group">
      <label for="admin-email">Adresse e-mail (admin)</label>
      <input type="email" id="admin-email" name="email" class="form-control" placeholder="admin@exemple.com" required />
    </div>
    <div class="form-group">
      <label for="admin-password">Mot de passe</label>
      <input type="password" id="admin-password" name="motDePasse" class="form-control" placeholder="••••••••" required />
    </div>
    <button type="submit" class="btn form-btn">Se connecter</button>
  </form>
</section>
