<div class="container">
    <h1 class="text-center mb-4">Ajouter un nouvel équipement</h1>
   
    <form action="/new/equipement" id="equipementForm" method="POST" class="formulaire-equipement">
        <div class="mb-3">
            <label for="nom" class="form-label">Nom de l'équipement</label>
            <input type="text" class="form-control" id="nom" name="nom" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter l'équipement</button>
         <a href="/accueil/admin" class="btn btn-secondary bi bi-arrow-left me-2">Retour</a>
    </form>
</div>