<div class="main-content">
  <div class="reservation-page">

    <!-- COLONNE GAUCHE : FORMULAIRE DE RECHERCHE -->
    <div class="reservation-container">
      <a href="/accueil/user" class="btn-retour">← Retour</a>
      <h2>Rechercher une salle :</h2>
      <form id="formRecherche" class="form-recherche">

        <!-- Capacité -->
        <div class="field-group">
          <label for="capacite">Capacité :</label>
          <select id="capacite" name="capacite">
            <option value="">Sélectionner la capacité</option>
            {{#each capacites}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>

        <!-- Équipements -->
        <div class="field-group">
          <label for="equipement">Équipements :</label>
          <select id="equipement" name="equipement">
            <option value="">Sélectionner les équipements</option>
            {{#each equipements}}
            <option value="{{this.nom}}">{{this.nom}}</option>
            {{/each}}
          </select>
        </div>

        <!-- Date -->
        <div class="field-group">
          <label for="dateReservation">Date :</label>
          <input type="date" id="dateReservation" name="dateReservation">
        </div>

        <!-- Heure -->
        <div class="field-group">
          <label for="heureReservation">Heure :</label>
          <input type="time" id="heureReservation" name="heureReservation">
        </div>

        <!-- Bouton de recherche -->
        <button type="submit" id="btnRechercher" class="btn-action">Rechercher</button>
      </form>
    </div>

    <!-- COLONNE DROITE : RÉSULTATS INITIAUX -->
    <div class="reservation-results">
      <span class="titre-resultat">Résultat :</span>
      <div class="result-content">
        <div id="resultatsSalles" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">


        </div>

      </div>
    </div>