<div style="margin-top: 0px;"></div>

<div class="main-content">
  <div class="reservation-page">
    <div>
      <a href="/" class="btn-retour" style="margin-bottom: 0px; display: inline-block;">Retour à la page d'accueil</a>
      <div class="reservation-container">
        <h2>Rechercher une salle :</h2>
        <form id="formRecherche" class="form-recherche">
          <label for="capacite">Capacité :</label>
          <select id="capacite">
            <option value="">Sélectionner la capacité</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <label for="equipement">Équipements :</label>
          <select id="equipement">
            <option value="">Sélectionner les équipements</option>
            <option value="Projecteur">Projecteur</option>
            <option value="Tableau">Tableau</option>
            <option value="Ordinateur">Ordinateur</option>
          </select>
          <label for="dateReservation">Date :</label>
          <input type="date" id="dateReservation" placeholder="Sélectionner la Date">
          <label for="heureReservation">Heure :</label>
          <input type="time" id="heureReservation" placeholder="Sélectionner l'heure">
          <button type="button" id="btnRechercher" class="btn-reserver">Rechercher</button>
        </form>
      </div>
    </div>
    <!-- Titre résultat au-dessus du bloc -->
    <div style="display: flex; flex-direction: column; align-items: center;">
      <span class="titre-resultat">Résultat :</span>
      <div class="grille-salles">
        <div id="resultatsSalles" style="flex:1;"></div>
        <button type="button" class="btn-reserver" style="margin-top: 24px;">Réserver</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
    Connecté comme : {{user.email}}
</footer>
<script src="/js/reservation.js"></script> 